{# empty Twig template #}
<div>

    {% if usergeometries %}
        <style>
            #usergeometriesCarousel {
                position: relative;
                margin-top: 20px;
                {#            height:200px;#}
            }
        </style>
        Name:{{usergeometries.getName()}}<br>
        Description:{{usergeometries.getDescription()}}<br>
        {% include 'ApplicationMap2uCoreBundle:Draw:drawcontent_images.html' with {'usergeometries':usergeometries} %}
        {% include 'ApplicationMap2uCoreBundle:Draw:drawcontent_videos.html' with {'usergeometries':usergeometries} %}
        {% include 'ApplicationMap2uCoreBundle:Draw:drawcontent_audios.html' with {'usergeometries':usergeometries} %}

        <script type="text/javascript">

            var $ = jQuery.noConflict();
            $(document).ready(function () {
                $('#usergeometriesCarousel').carousel({pause: "hover", wrap: true});

                $('#usergeometriesCarousel  a[data-slide="prev"]').click(function () {
                    $('#usergeometriesCarousel').carousel('prev');
                    return false;
                });

                $('#usergeometriesCarousel  a[data-slide="next"]').click(function () {
                    $('#usergeometriesCarousel').carousel('next');
                    return false;
                });

                $('#usergeometriesCarousel .carousel-indicators > li').click(function (e) {

                    e.stopPropagation();
                    $('#usergeometriesCarousel .carousel-indicators > li.active').removeClass("active");
                    $(this).addClass("active");

                    $('#usergeometriesCarousel').carousel($(this).data('slide-to'));

                    return false;
                });
            });
        </script>
    {% endif %}
</div>