
<div >
    {% if images|length > 0 %}
        <div id="usergeometriesCarousel" class="carousel slide"  data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in images %}
                    <li data-target="#usergeometriesCarousel" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ol>
            {% include 'ApplicationMap2uCoreBundle:Draw:drawcontent_images_carousel_inner.html.twig' with {'images':images,'i':0} %}
            <a class="left carousel-control" href="#usergeometriesCarousel" data-slide="prev"><span class="icon-prev"></span></a>
            <a class="right carousel-control" href="#usergeometriesCarousel" data-slide="next"><span class="icon-next"></span></a>
        </div>
    {% endif %}
</div>

