/* 
    Document   : map
    Created on : 27-Aug-2013, 2:03:54 PM
    Author     : josephzhao
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}

div.olMapViewport {
    text-align: left;
    -ms-touch-action: none;
}

div.olLayerDiv {
   -moz-user-select: none;
   -khtml-user-select: none;
}

.olLayerGoogleCopyright .olLayerGoogleV3,
.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;  
}

.olLayerGooglePoweredBy .olLayerGoogleV3 .gmnoprint,
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;   
}

.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint { 
    visibility:hidden !important; 
} 

.olLayerGoogleCopyright { 
    right: 3px; 
    bottom: 2px; 
    left: auto;   
} 
.olLayerGoogleV3.olLayerGoogleCopyright { 
    bottom: 0px; 
    right: 0px !important; 
} 
.olLayerGooglePoweredBy { 
    left: 2px; 
    bottom: 2px;   
} 

.olLayerGoogleV3.olLayerGooglePoweredBy {   
    visibility:hidden !important; 
    bottom: 15px !important;   
} 
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint { 
    visibility:hidden !important; 
} 

.olImageLoadError {
    display: none !important;
    border-color: transparent !important;
}

.olControlAttribution {
        left: 2px;
 /*       right: inherit;*/
        bottom: 3px;
      /*  line-height: 11px; */
}

.olControlNoSelect {
 -moz-user-select: none;
 -khtml-user-select: none;
}

#map2uweb_map,
#map2uweb_maptoc {
    height:650px;

}
#olMap, #map2uweb_map {
    width:680px;
    height:650px;
}
 #map2uweb_maptoc {
    width:297px;
    height:650px;
}
/*#map2uweb_maptoc {
    margin-left: 5px;
}

#map2uweb_maptoc .tabbable .tab-content {
    margin-top: -15px;
    overflow:auto;
    height:510px;
}*/
#webgismap_layerSwitcher {


}
#webgismap_layerSwitcher, #layersDiv {
    text-align: left;
    font-size: 16px;
    font-weight: 250;
    font-family:  Arial,sans-serif;
}
#layersDiv div span {

    padding-left: 4px;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;

}
