{# empty Twig template #}
<div id="species_observations_show_id" class="container-fluid" style="padding-bottom: 10px;margin-bottom: 10px;border-bottom: 2px   #090 ridge;">
    <div class="row-fluid" style="padding-bottom: 10px;">
        <h4>Observations</h4>
        <table width="60%">
            <tbody>
                <tr>
            <th>Station Name</th><th>Observation</th><th>Observate Date</th>
                </tr>
{% for observation in observations %}
                <tr>
                    <td> {{observation.getStation()}} </td><td> {{observation.getBreedingStatus()}}{{observation.getObservationDescription()}}</td><td>{{observation.getObservedAt()|date('Y-m-d')}}</td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>