/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:13 AM
    Author     : josephzhao
*/

.juturna-page-header {
    width: 1200px;
    height:130px;
    top:0px;
    height:50px;
    margin: 0 auto;
}

.homepage_title {
    padding:8px 0 0 0; margin:0; color: white;
}

.homepage_title a{
    color: white;
    font-size: 24px;
}
.homepage_title a:hover{
    text-decoration: none;
}

div#homepage_titlebar_background {
    position: absolute;
    left:0px;width:100%;
    padding: 0px; 
    margin:0px; 
    background-color: #228B22;
    top:0px;
    height:50px;
    z-index: -1;
}
div#homepage_menubar_background {
    position: absolute;
    left:0px;
    width:100%;
    padding: 0px; 
    margin:0px; 
    background-color: #3c4142;
    top:50px;
    height:50px;
    z-index: -1;   
}

div.leafmap_title_tooltip {
    color: #222; 
    background: #fff; 
    padding: .5em; 
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px; 
    box-shadow: 0px 0px 2px 0px #a6a6a6; 
    opacity: 0.9; 
    z-index: 1002;
    position: absolute;
}