
{% extends "::baseLayout.html.twig" %}
{% block page_container %}
    {% block maincontent %}

        <div style="margin:30px auto;width:300px;">
            {% block fos_user_content %}


                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}


            {% endblock  %}
        </div>
    {% endblock  %}
    {% block footer %}
    {% endblock %}
{% endblock  %}
