/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:13 AM
    Author     : josephzhao
*/

.juturna-page-header {
    width: 1200px;
    height:130px;
    margin: 0 auto;
}

.homepage_title {
    padding:0px; margin:10px 0 0 0; color: white;
}

.homepage_title a h2{
    color: white;
}
.homepage_title a:hover{
    text-decoration: none;
}

