/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:09:33 PM
    Author     : josephzhao
*/

/*.homepage_flash_wrap {
   height: 350px;
}*/

/*.homepage_flash {
    padding: 0px;
    height: 385px;
    margin: 10px 0px 20px 0;
}*/

#homepageFlashCarousel  {
    height: 355px;
    margin-bottom: 30px;
}
#homepageFlashCarousel  .carousel-inner{
    height: 355px;

}
#homepageFlashCarousel ol.carousel-indicators {

    width:50%;
    margin: -45px auto;

}



ol.carousel-indicators li {
    color:#141412;
    font-size: 10px;

    background-color: #141412;
}

ol.carousel-indicators li.active {
    color:green;
    font-size: 10px;
    background-color: green;
}
.homepage_images {
    width:1200px;
    margin: 10px auto;
    height:300px; 
    border: 0px solid yellow;
    padding:0px;
}
.homepage_images img { 
    height: 230px;
    margin: 3px;
    border-radius: 5px;
}
.homepage_image_brief_desc {
    margin-bottom: 50px;
}

#homepageFlashCarousel div.carousel-caption {
    top:0px;
    width:330px;

    //  position: absolute;
    //  margin-left: -130px;
    font-weight: 400;
    text-align:center;
    font-size: 20px;
    background-image: url(/images/background.png);
    background-repeat: repeat;
    height: 355px;


}

#homepageFlashCarousel div.carousel-caption h4{

    font-weight: 500;
    text-align:center;
    font-size: 24px;
 
}

.homepage_image_brief_desc  {
    position: absolute;
    bottom:20px; 
    width:100%;
    margin-left: 3px;
    height:70px;
    color: white;
    font-weight: 400;
    text-align:center;
    font-size: 16px;
    background-image: url(/images/background.png);
    background-repeat: repeat;
}