{# empty Twig template #}

<form id="createnew_custom_feature_id" action="{{path("juturnadefault_custom_feature")}}" method="post" onsubmit="  onSubmitCustomGeometries(this); return false;" {{ form_enctype(form) }}>


                {{ form_rest(form) }}

    <p>
        <input type="submit" value="Create">  <button onclick=" Ext.getCmp('win_create_new_birdinfo_panel_id').close();
                return false;">Cancel</button>
    </p>
</form>
<script type='text/javascript'>
   function onSubmitCustomGeometries(vform) {
        var geoJSON = new OpenLayers.Format.GeoJSON();
        var features = mapapp.UserCustomGeoms.selectedFeatures;
        var  features2 = [];
        var  features3 = [];
        for (var i = 0; i < features.length; i++)
        {
                features2[i]=features[i].geometry.clone();
                features2[i]=features2[i].transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:32617"));
                features3[i]=new OpenLayers.Feature.Vector(features2[i]);
        }
        var geometries = geoJSON.write(features3);
        if (geometries.length > 0)
        {
            $("#yorku_juturnabundle_tourismgeoms_geometry").val(geometries);
        }
        else
        {
            $("#yorku_juturnabundle_tourismgeoms_geometry").val(null);
        }
        
        var formData = new FormData($('#createnew_custom_feature_id')[0]);
        $.ajax({
            url: "{{ path('juturnadefault_custom_feature')}}",
            data: formData,
            async: false,
            contentType: false,
            processData: false,
            cache: false,
            type: 'POST',
            success: function(data)
            {
                refreshUserCustomGeomsList();
                alert("submitted:" + data.success);
                
                
            }
       });  
       return false;
    }


</script>


