{% extends "::base.html.twig" %}

{% block page_container %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block maincontent_leftsidebar %}
        {{ parent() }}
    {% endblock %}
    {% block maincontent %}

        <div style="margin:20px auto;width:310px;">

            {% block fos_user_content %}

                {% include "FOSUserBundle:Registration:register_content.html.twig" %}

            {% endblock fos_user_content %}
        </div>
    {% endblock %}

    {% block footer %}
        {{parent()}}
    {% endblock %}
{% endblock %}
