{%- spaceless -%}
<ol class="breadcrumb">
    {%- for key, crumb in crumbs.getTrail -%}
    <li>
        {% autoescape 'html' %}
            <a href="{{- crumb.url -}}" title="{{- crumb.label -}}">{{- crumb.label -}}</a>
        {% endautoescape %}
    </li>
    {%- endfor -%}
</ol>
{%- endspaceless -%}
