{% extends sonata_block.templates.block_base %}

{% block block %}
    <div style="width:100%;">
        {% if (logos is defined) and (logos | length >0 ) %}

            <div  style="padding-left: 0px; padding-top: 10px; text-align: left;">
                {% set i=0 %}
                {% for logo in logos %}
                    {% if (logo.imageFilename | length > 0) %}
                        <div style="display: inline-block; margin-right:20px;">
                            <a href='http://{{logo.websiteUrl}}' target='_blank'>
                                <img src='{{asset('uploads/images/header_logos/')}}{{logo.imageFilename|e}}'>
                            </a>
                        </div>
                    {% endif %}
                    {# {% if i==0 %}
                         <div style="display: inline-block;color:green;margin:3px 20px; padding:1px 10px; border: 2px solid limegreen;border-radius: 5px;"><h3><b>WELL-BEING & the Watershed</b></h3></div>
                                 {% endif %}#}
                    {% set i=i+1 %}
                {% endfor %}
            </div>

        {% endif %}
    </div>
    <div class="homepage_title">
        <a href="{{path('welcome_home')}}" title="Home" rel="home">
            <h2 style="text-transform: capitalize;">Health Well Being & Watersheds</h2>
        </a>
    </div>
{% endblock %}