{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="homepage_title">
        <a href="{{path('welcome_home',{_locale:'en'})}}" title="Home" rel="home" style="top:0;display:inline-block;">
            Well-being and Your Watershed: Credit River
        </a>
        <div class="pull-right" style="display:inline-block;">
            <a href="http://www.creditvalleyca.ca/" style="margin-right:5px;display:inline-block; border-radius: 3px;" target="_blank"><img  src="/uploads/images/header_logos/cvc-small.png" style="height:33px;border-radius: 3px;" alt="Credit Valley Conservation logo (small)"></a>
            <a href="http://www.yorku.ca/" style="display:inline-block; border-radius: 3px;"  target="_blank"><img  src="/uploads/images/header_logos/yorku-small.png"  style="height:33px;border-radius: 3px;" alt="York University logo"></a>
        </div>
    </div>
{% endblock %}