<!--  Foot Begin    -->
<!--  <tr>
<td colspan="4">
<img src="images/bbg.jpg" />
</td>
</tr> -->
<tr bgcolor="#abe1fa">

<td colspan="2" height="60" class="small" align="left" valign="top">
<br /><br />
<big><b><a class="small" href="home.php">Home</a>&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="small" href="profileReport.php">Demographic Profile</a>&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="small" href="targeting.php">Targeting</a>&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="small" href="membership.php">Reports & Fees</a>&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="small" href="contactUs.php">Contact US</a>&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="small" href="privacy.php">Privacy</a>
</big>
</td>
</tr>
<tr bgcolor="#abe1fa">
<td colspan="2" align="right" height="10"class="small" colspan="4">

Copyright &copy; Manifold Data Mining Inc., all rights reserved. &nbsp;&nbsp; | &nbsp;&nbsp;
Web Design: <a class="small" href="http://www.eimage.ca" target="_blank">E IMAGE INC.</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br /><br />
</td>
</tr>

