{# empty Twig template #}
                    {% if (logos is defined) and (logos | length >0 ) %}
        <div class="container-fluid" style="padding-bottom: 10px;margin-bottom: 10px;border-bottom: 2px   #090 ridge;">

            <div class="row" style="padding-left: 20px;">

                                {% for logo in logos %}
                                    {% if (logo.imageFilename | length > 0) %}
                <a href='http://{{logo.websiteUrl}}' target='_blank'><img src='{{asset('uploads/images/header_logos/')}}{{logo.imageFilename|e}}'></a>
                                    {% endif %}
                                {% endfor %}

            </div>
        </div>
{% endif %}