.my-custom-control {
    width: 120px;
    height: 20px;
    background: white;
    border: 1px solid #333;

}
.sidebar_content {
    border-top: 1px solid #ddd ;
    border-bottom: 10px solid #ddd ;
    margin-top: -3px;
    overflow: auto;
    height: 100%;
    margin-bottom: 5px;
}
.sidebar_content li {
    list-style:  none;
    margin-left: -10px;
}

.leaflet-sidebar.right .sidebar_content input[type="radio"] { margin-top:-1px; margin-right:3px;}
.leaflet-sidebar.right .sidebar_content input[type="checkbox"] { margin-top:-1px; margin-right:3px;}

.leaflet-sidebar {
    position: absolute;
    height: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 2000;
}

.leaflet-sidebar.left {
    left: -350px;
    margin-top: 47px;
    transition: left 0.5s, width 0.5s;
    background-color: rgba(255, 255, 255, 0.85);
    padding-right: 0;
}

.leaflet-sidebar.right {
    right: -300px;
    transition: right 0.5s, width 0.5s;
    background-color: rgba(255, 255, 255, 0.85);
    padding-left: 0;
}

.leaflet-sidebar.left.visible {
    left: 0;
    z-index:inherit;
}

.leaflet-sidebar.right.visible {
    right: 0;
}

.leaflet-left {
    transition: left 0.5s;
}

.leaflet-right {
    transition: right 0.5s;
}

.leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;

    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 14px 8px 14px;

    font-size: 1.1em;

    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.leaflet-sidebar > .leaflet-control h3 {
    margin-top: 2px;
    padding: 2px;
    line-height: 25px;
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;

}

@media(max-width:767px){
    .leaflet-sidebar {
        width: 100%;
        padding: 0;
    }

    .leaflet-sidebar.left {
        left: -100%;
    }

    .leaflet-sidebar.right {
        right: -100%;
    }

    .leaflet-sidebar.left.visible {
        left: 0;
        
        background-color: rgba(255, 255, 255, 0.80);
    }

    .leaflet-sidebar.right.visible {
        right: 0;
    }

    .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 100%;
         z-index: inherit;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%;
    }

    .leaflet-touch .leaflet-sidebar > .leaflet-control {
        border: 0;
    }
}

@media(min-width:768px) and (max-width:991px){
    .leaflet-sidebar.left {
        width: 280px;
    }
    .leaflet-sidebar.right {
        width: 240px;
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 280px;
         z-index: inherit;
    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 240px;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .leaflet-sidebar.left {
        width: 300px;
    }
    .leaflet-sidebar.right {
        width: 260px;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 300px;
         z-index: inherit;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 260px;
    }
}

@media(min-width:1200px){

    .leaflet-sidebar.left {
        width: 350px;
    }
    .leaflet-sidebar.right {
        width: 280px;
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 350px;
        z-index: inherit;

    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 280px;

    }
}

.leaflet-sidebar .close {
    position: absolute;
    right: 17px;
    top: 15px;
    width: 20px;
    height: 20px;

    color: #333;
    font-size: 18pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;

    z-index: 8;
}
