/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 7:52:59 PM
    Author     : josephzhao
*/
/* line 11, assetic_compass0ZoPrS.scss */
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  left: 100px;
  width: 135px;
  text-align: center;
  bottom: 3px;
  margin: 0;
  position: absolute;
  color: lightskyblue;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
