/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 8:02:36 PM
    Author     : josephzhao
*/
/* line 11, assetic_compass752xA2.scss */
.history-control.leaflet-bar.hidden {
  display: none;
}

/* line 11, assetic_compass752xA2.scss */
.history-control.leaflet-bar.horizontal a {
  display: inline-block;
  border-bottom: 0;
  border-radius: 0;
  border-right: 1px solid #ccc;
}

/* line 11, assetic_compass752xA2.scss */
.history-control.leaflet-bar.horizontal a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 11, assetic_compass752xA2.scss */
.history-control.leaflet-bar.horizontal a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 0;
}

/* line 11, assetic_compass752xA2.scss */
.history-control.leaflet-bar a {
  width: auto;
  font-size: 1.1em;
  min-width: 26px;
}
