/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 8:03:01 PM
    Author     : josephzhao
*/
/* required styles */
/* line 13, assetic_compass0eCUG2.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 31, assetic_compass0eCUG2.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 35, assetic_compass0eCUG2.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 43, assetic_compass0eCUG2.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 48, assetic_compass0eCUG2.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 52, assetic_compass0eCUG2.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 55, assetic_compass0eCUG2.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 59, assetic_compass0eCUG2.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 62, assetic_compass0eCUG2.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 67, assetic_compass0eCUG2.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 71, assetic_compass0eCUG2.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 72, assetic_compass0eCUG2.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 73, assetic_compass0eCUG2.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 74, assetic_compass0eCUG2.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 75, assetic_compass0eCUG2.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 76, assetic_compass0eCUG2.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 78, assetic_compass0eCUG2.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 82, assetic_compass0eCUG2.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 91, assetic_compass0eCUG2.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 96, assetic_compass0eCUG2.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 102, assetic_compass0eCUG2.scss */
.leaflet-top {
  top: 0;
}

/* line 105, assetic_compass0eCUG2.scss */
.leaflet-right {
  right: 0;
}

/* line 108, assetic_compass0eCUG2.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 111, assetic_compass0eCUG2.scss */
.leaflet-left {
  left: 0;
}

/* line 114, assetic_compass0eCUG2.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 118, assetic_compass0eCUG2.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 121, assetic_compass0eCUG2.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 124, assetic_compass0eCUG2.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 127, assetic_compass0eCUG2.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 130, assetic_compass0eCUG2.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 137, assetic_compass0eCUG2.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 145, assetic_compass0eCUG2.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 150, assetic_compass0eCUG2.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 156, assetic_compass0eCUG2.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 165, assetic_compass0eCUG2.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 172, assetic_compass0eCUG2.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 175, assetic_compass0eCUG2.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 179, assetic_compass0eCUG2.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 183, assetic_compass0eCUG2.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 193, assetic_compass0eCUG2.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 197, assetic_compass0eCUG2.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 200, assetic_compass0eCUG2.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 203, assetic_compass0eCUG2.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 210, assetic_compass0eCUG2.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 217, assetic_compass0eCUG2.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 221, assetic_compass0eCUG2.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 233, assetic_compass0eCUG2.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 239, assetic_compass0eCUG2.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 242, assetic_compass0eCUG2.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 246, assetic_compass0eCUG2.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 251, assetic_compass0eCUG2.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 257, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 266, assetic_compass0eCUG2.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 271, assetic_compass0eCUG2.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 275, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 278, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 285, assetic_compass0eCUG2.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 290, assetic_compass0eCUG2.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 295, assetic_compass0eCUG2.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 299, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 303, assetic_compass0eCUG2.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 307, assetic_compass0eCUG2.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 311, assetic_compass0eCUG2.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 316, assetic_compass0eCUG2.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 321, assetic_compass0eCUG2.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 324, assetic_compass0eCUG2.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 333, assetic_compass0eCUG2.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 338, assetic_compass0eCUG2.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 343, assetic_compass0eCUG2.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 346, assetic_compass0eCUG2.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 349, assetic_compass0eCUG2.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 353, assetic_compass0eCUG2.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 356, assetic_compass0eCUG2.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 359, assetic_compass0eCUG2.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 373, assetic_compass0eCUG2.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 378, assetic_compass0eCUG2.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 382, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 387, assetic_compass0eCUG2.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 396, assetic_compass0eCUG2.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 400, assetic_compass0eCUG2.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 405, assetic_compass0eCUG2.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 409, assetic_compass0eCUG2.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 412, assetic_compass0eCUG2.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 419, assetic_compass0eCUG2.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 432, assetic_compass0eCUG2.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 438, assetic_compass0eCUG2.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 452, assetic_compass0eCUG2.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 455, assetic_compass0eCUG2.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 461, assetic_compass0eCUG2.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 464, assetic_compass0eCUG2.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 471, assetic_compass0eCUG2.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 475, assetic_compass0eCUG2.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 485, assetic_compass0eCUG2.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}
