/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 7:51:23 PM
    Author     : josephzhao
*/
/* line 11, assetic_compassbILP5V.scss */
.leaflet-control-minimap {
  border: solid white 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 3px;
  background: #f8f8f9;
  transition: all .2s;
}

/* line 19, assetic_compassbILP5V.scss */
.leaflet-control-minimap a {
  background-color: white;
  background-repeat: no-repeat;
  z-index: 99999;
  transition: all .2s;
  border-radius: 3px 0px 0px 0px;
}

/* line 27, assetic_compassbILP5V.scss */
.leaflet-control-minimap a.minimized {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 0px;
}

/* line 33, assetic_compassbILP5V.scss */
.leaflet-control-minimap-toggle-display {
  background-image: url("../images/toggle.png");
  height: 19px;
  width: 19px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Old IE */
/* line 43, assetic_compassbILP5V.scss */
.leaflet-oldie .leaflet-control-minimap {
  border: 1px solid #999;
}

/* line 47, assetic_compassbILP5V.scss */
.leaflet-oldie .leaflet-control-minimap a {
  background-color: #fff;
}

/* line 51, assetic_compassbILP5V.scss */
.leaflet-oldie .leaflet-control-minimap a.minimized {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
