/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 8:00:53 PM
    Author     : josephzhao
*/
/* Left will inherit from right (so we don't need to duplicate code */
/* line 12, assetic_compass8eyNvm.scss */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  position: absolute;
  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;
  /* Set the base colour */
  background-color: #a00;
  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  /* Add a drop shadow */
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

/* line 35, assetic_compass8eyNvm.scss */
.github-fork-ribbon a {
  /* Set the font */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;
  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;
  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.7);
}

/* line 61, assetic_compass8eyNvm.scss */
.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
}

/* line 69, assetic_compass8eyNvm.scss */
.github-fork-ribbon-wrapper.left {
  left: 0;
}

/* line 73, assetic_compass8eyNvm.scss */
.github-fork-ribbon-wrapper.right {
  right: 0;
  z-index: 10000;
}

/* line 78, assetic_compass8eyNvm.scss */
.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;
  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 89, assetic_compass8eyNvm.scss */
.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  /* Attach to the left of the page */
  top: 42px;
  left: -43px;
  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
