body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-family: verdana;
    font-size: 9pt;
}

h1{
    margin-bottom: .5em;
    font-size: 2em;
}

h2{
    margin-bottom: .2em;
    font-size: 1.5em;
}

.container{
    margin-bottom: 1em;
}

.newsletter-overview iframe{
    width: 920px;
}

.clear{
    clear:both;
}
/************** --------------- **************/
/************** NEWSLETTER EDIT **************/
/************** --------------- **************/
.layout-newsletter-edit ul#blocks{
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.layout-newsletter-edit .clone-block-dialog ul{
    margin:0;
    list-style-type: none;
    margin-top: 1em;
}

.layout-newsletter-edit .clone-block-dialog ul li{
    margin-bottom: 1em;
}

.layout-newsletter-edit ul#blocks li.block textarea{
    width: 100%;
    height: 100%;
}

.layout-newsletter-edit ul#blocks li.block{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    cursor: move;
    background: #c4e3f3;
}

.layout-newsletter-edit ul#blocks li.block table.provider{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: white;
}

.layout-newsletter-edit ul#blocks li.block table.provider tr.provider td.provider{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: .8em 1em .8em 1em;
}

.layout-newsletter-edit ul#blocks li.ui-state-highlight{
    height: 50px;
}

.layout-newsletter-edit ul#blocks li.helper{
    border:1px solid green;
    border-radius: 5px;
    background: #7aba7b;
}

.layout-newsletter-edit div.block-delete-droppable{
    position: fixed;
    top: 30%;
    right: 1em;
    width: 100px;
    height: 100px;
    border: 1px dashed #cd0a0a;
    border-radius: 5px;
    background: #ffd5d5;
}

.layout-newsletter-edit div.block-delete-droppable.hover{
    border: 1px solid red;
    background: #eed3d7;
}

/************** -------------- **************/
/************** STATISTIC SHOW **************/
/************** -------------- **************/
.layout-statistic-show #read-pie-chart,
.layout-statistic-show #job-pie-chart,
.layout-statistic-show #job-line-chart{
    height: 300px;
    width: 450px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.layout-statistic-show #job-line-chart{
    float:none;
    margin: 0;
    width: 910px;
}

/************** --------------------- **************/
/************** NEWSLETTER SUBSCRIBER **************/
/************** --------------------- **************/
.layout-newsletter-subscriber select{
    width: 100%;
}

/************** ------------- **************/
/************** DESIGN CREATE **************/
/************** ------------- **************/
.layout-design-create textarea{
    width: 80%;
    height: 200px;
}

/************** ----------- **************/
/************** DESIGN EDIT **************/
/************** ----------- **************/
.layout-design-edit textarea{
    width: 80%;
    height: 200px;
}

/************** ------------------ **************/
/************** NEWSLETTER SUMMARY **************/
/************** ------------------ **************/
.layout-newsletter-summary .newsletter-overview{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: .5em;
    display: inline-block;
}

/************** ----------- **************/
/************** DESIGN EDIT **************/
/************** ----------- **************/
.layout-design-edit textarea.tinymce{
    width: 925px;
    height: 300px;
}
.ms-container{
  width: 100%;
}

.ms-container:after{
  content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  width: 45%;
  background: #fff;
  color: #555555;
  float: left;
}

.ms-container .ms-list{
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.ms-selected{
  display:none;
}
.ms-container .ms-selectable{
  margin-right: 40px;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
}

.ms-container ul.ms-list{
  width: 100%;
  height: 200px;
  padding: 0px 0px;
  overflow-y: auto;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selected{
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
}

.ms-container .ms-optgroup-label{
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container li.ms-elem-selectable:not(.disabled).ms-hover,
.ms-container .ms-selection li:not(.disabled).ms-hover{
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.wizard {
	margin-left: 0;
    margin-bottom: 2em;
}

.wizard li {
	padding: 12px 12px 10px 30px;
	margin-right: 5px;
	background: #efefef;
	position: relative;
	display: inline-block;
}

.wizard li:before {
	width: 0px;
	height: 0px;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #fff;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
}

.wizard li:after {
	width: 0px;
	height: 0px;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #efefef;
	position: absolute;
	content: "";
	top: 0;
	right: -20px;
	z-index: 2;
}

.wizard li:first-child:before {
	border: none;
}

.wizard li:last-child:after {
	border: none;
}

.wizard li:first-child {
	padding-left: 12px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.wizard li:last-child {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.wizard .active {
	background: #626262;
	color: #fff;
}

.wizard .active a {
	color: #fff;
}

.wizard .active:after {
	border-left-color: #626262;
}