/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:37:55 AM
    Author     : josephzhao
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:13 AM
    Author     : josephzhao
*/
/* line 11, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
.juturna-page-header {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}

/* line 17, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title {
  padding: 0px;
  margin: 10px 0 0 0;
  color: white;
}

/* line 21, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title a h2 {
  color: white;
}

/* line 24, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title a:hover {
  text-decoration: none;
}

/* line 28, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
div#homepage_titlebar_background {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #228B22;
  top: 80px;
  height: 50px;
  z-index: -1;
}

/* line 38, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_header.scss */
div#homepage_menubar_background {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #3c4142;
  top: 130px;
  height: 50px;
  z-index: -1;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:14:08 PM
    Author     : josephzhao
*/
/* line 11, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.juturna-main_menu {
  position: relative;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

/* line 18, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav, .collapse.navbar-collapse.navbar-main-collapse {
  margin-left: 0px;
  padding-left: 0px;
}

/* line 23, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.navbar-nav li a, ul.dropdown-menu li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/* line 29, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a {
  color: white;
}

/* line 32, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:hover {
  color: #3c4142;
}

/* line 35, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open a {
  color: #3c4142;
}

/* line 38, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown ul {
  background-color: #3c4142;
  color: white;
  z-index: 9999;
}

/* line 44, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li a:hover {
  color: #3c4142;
}

/* line 49, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-menu {
  background-color: #3c4142;
  color: white;
}

/* line 53, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu {
  background-color: #3c4142;
  color: white;
  position: relative;
}

/* line 59, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  background-color: #3c4142;
  color: white;
  margin-top: -6px;
  margin-left: -1px;
  /*    -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;*/
}

/* line 72, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  background-color: #3c4142;
  margin-top: -6px;
  color: white;
}

/* line 79, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 93, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 97, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 101, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  /*    -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;*/
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:14:08 PM
    Author     : josephzhao
*/
/* line 11, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
.navbar .nav > li.login .login-dropdown {
  position: absolute;
  white-space: normal;
  margin-top: 10px;
  background-color: #f2f1ef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b1a699;
  width: 270px;
  left: -215px;
  z-index: 9999;
  display: none;
}

/* line 12, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
#register-form {
  background-color: #ada69a;
}

/* line 13, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
#login-form {
  padding: 0px;
  margin: 0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Mar-2015, 9:02:20 AM
    Author     : josephzhao
*/
/* line 10, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#indicator_benefit_flash {
  height: 350px;
  overflow: hidden;
}

/* line 17, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#indicator_benefit_flash div.carousel-caption {
  top: 0px;
  margin-top: 95px;
  position: absolute;
  /*    width:330px;*/
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  /*    background-image: url(/images/background.png);
      background-repeat: repeat;
      height: 350px;*/
}

/* line 35, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#benefit_leafletsidebar_view h4 {
  text-align: enter;
}

/* line 39, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash a.carousel-control {
  padding-top: 90px;
  font-size: 30px;
}

/* line 45, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash div.carousel-caption {
  top: 0px;
  margin-top: 40px;
  position: absolute;
  font-weight: 400;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}

/* line 57, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash div.carousel-caption h5 {
  font-size: 18px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2015, 3:07:01 PM
    Author     : josephzhao
*/
/* line 11, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash, .story_flash, #story_image {
  height: 355px;
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 16, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash .carousel-inner {
  height: 355px;
}

/* line 20, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash div.carousel-caption, #story_image div.carousel-caption {
  top: 0px;
  margin-top: 265px;
  position: absolute;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

/* line 32, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_story.scss */
#pdf_display {
  margin-top: 20px auto;
  padding: 20px;
}

/* line 38, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_story.scss */
#pdf_display canvas {
  border: 1px solid gainsboro;
  margin: 2px auto;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:09:33 PM
    Author     : josephzhao
*/
/*.homepage_flash_wrap {
   height: 350px;
}*/
/*.homepage_flash {
    padding: 0px;
    height: 385px;
    margin: 10px 0px 20px 0;
}*/
/* line 21, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel {
  height: 355px;
  margin-bottom: 30px;
}

/* line 25, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel .carousel-inner {
  height: 355px;
}

/* line 29, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel ol.carousel-indicators {
  width: 50%;
  margin: -45px auto;
}

/* line 38, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
ol.carousel-indicators li {
  color: #141412;
  font-size: 10px;
  background-color: #141412;
}

/* line 45, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
ol.carousel-indicators li.active {
  color: green;
  font-size: 10px;
  background-color: green;
}

/* line 50, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_images {
  width: 1200px;
  margin: 10px auto;
  height: 300px;
  border: 0px solid yellow;
  padding: 0px;
}

/* line 57, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_images img {
  height: 230px;
  margin: 3px;
  border-radius: 5px;
}

/* line 62, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_image_brief_desc {
  margin-bottom: 50px;
}

/* line 66, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel div.carousel-caption {
  top: 0px;
  width: 330px;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  background-image: url(/images/background.png);
  background-repeat: repeat;
  height: 355px;
}

/* line 82, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel div.carousel-caption h4 {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

/* line 90, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_image_brief_desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-left: 3px;
  height: 70px;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  background-image: url(/images/background.png);
  background-repeat: repeat;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2015, 4:02:42 PM
    Author     : josephzhao
*/
/* line 12, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image {
  margin-bottom: 15px;
}

/* line 15, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image #ecosystem_image {
  display: inline-block;
  overflow: hidden;
  height: 350px;
  width: 100%;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}

/* line 24, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image h1 {
  position: absolute;
  width: 100%;
  height: 70px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:23 AM
    Author     : josephzhao
*/
/* line 11, ../../../../../../NetBeansProjects/CVCBrowser/app/Resources/assets/stylesheets/yorkujuturna/_footer.scss */
.juturna-page-footer {
  width: 1200px;
  margin: 2px auto;
}
