/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:37:55 AM
    Author     : josephzhao
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:13 AM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
.juturna-page-header {
  width: 1200px;
  height: 130px;
  top: 0px;
  height: 50px;
  margin: 0 auto;
}

/* line 19, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title {
  padding: 8px 0 0 0;
  margin: 0;
  color: white;
}

/* line 23, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title a {
  color: white;
  font-size: 24px;
}

/* line 27, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
.homepage_title a:hover {
  text-decoration: none;
}

/* line 31, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
div#homepage_titlebar_background {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #228B22;
  top: 0px;
  height: 50px;
  z-index: -1;
}

/* line 41, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
div#homepage_menubar_background {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #3c4142;
  top: 50px;
  height: 50px;
  z-index: -1;
}

/* line 53, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
div.leafmap_title_tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  z-index: 1002;
  position: absolute;
}

/* line 65, ../../Resources/assets/stylesheets/yorkujuturna/_header.scss */
div#sidebar-left div#sidebar_content table.measurement_list td.showmeasurement_on_map i.delete {
  margin-right: 10px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:14:08 PM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.juturna-main_menu {
  position: relative;
  width: 1200px;
  height: 50px;
  top: 0px;
  margin: 0 auto;
}

/* line 20, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav, .collapse.navbar-collapse.navbar-main-collapse {
  margin-left: 0px;
  padding-left: 0px;
}

/* line 25, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.navbar-nav li a, ul.dropdown-menu li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/* line 31, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a {
  color: white;
}

/* line 34, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open ul.dropdown-menu li a:hover {
  color: #3c4142;
}

/* line 37, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown.open a {
  color: #3c4142;
}

/* line 40, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li.dropdown ul {
  background-color: #3c4142;
  color: white;
  z-index: 9999;
}

/* line 46, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.nav.navbar-nav li a:hover {
  color: #3c4142;
}

/* line 51, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-menu {
  background-color: #3c4142;
  color: white;
}

/* line 55, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu {
  background-color: #3c4142;
  color: white;
  position: relative;
}

/* line 61, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  background-color: #3c4142;
  color: white;
  margin-top: -6px;
  margin-left: -1px;
  /*    -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;*/
}

/* line 74, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  background-color: #3c4142;
  margin-top: -6px;
  color: white;
}

/* line 81, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 95, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 99, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 103, ../../Resources/assets/stylesheets/yorkujuturna/_main_menu.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  /*    -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;*/
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:14:08 PM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
.navbar .nav > li.login .login-dropdown {
  position: absolute;
  white-space: normal;
  margin-top: 10px;
  background-color: #f2f1ef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b1a699;
  width: 270px;
  left: -215px;
  z-index: 9999;
  display: none;
}

/* line 12, ../../Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
#register-form {
  background-color: #ada69a;
}

/* line 13, ../../Resources/assets/stylesheets/yorkujuturna/_menu_login.scss */
#login-form {
  padding: 0px;
  margin: 0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Mar-2015, 9:02:20 AM
    Author     : josephzhao
*/
/* line 10, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#indicator_benefit_flash {
  height: 350px;
  overflow: hidden;
}

/* line 17, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#indicator_benefit_flash div.carousel-caption {
  top: 0px;
  margin-top: 95px;
  position: absolute;
  /*    width:330px;*/
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  /*    background-image: url(/images/background.png);
      background-repeat: repeat;
      height: 350px;*/
}

/* line 35, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#benefit_leafletsidebar_view h4 {
  text-align: enter;
}

/* line 39, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash a.carousel-control {
  padding-top: 90px;
  font-size: 30px;
}

/* line 45, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash div.carousel-caption {
  top: 0px;
  margin-top: 40px;
  position: absolute;
  font-weight: 400;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}

/* line 57, ../../Resources/assets/stylesheets/yorkujuturna/_benefit.scss */
#leftsidebar_indicator_benefit_flash div.carousel-caption h5 {
  font-size: 18px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Mar-2015, 3:07:01 PM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash, .story_flash, #story_image {
  height: 355px;
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 16, ../../Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash .carousel-inner {
  height: 355px;
}

/* line 20, ../../Resources/assets/stylesheets/yorkujuturna/_story.scss */
#story_flash div.carousel-caption, #story_image div.carousel-caption {
  top: 0px;
  margin-top: 265px;
  position: absolute;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

/* line 32, ../../Resources/assets/stylesheets/yorkujuturna/_story.scss */
#pdf_display {
  margin-top: 20px auto;
  padding: 20px;
}

/* line 38, ../../Resources/assets/stylesheets/yorkujuturna/_story.scss */
#pdf_display canvas {
  border: 1px solid gainsboro;
  margin: 2px auto;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Apr-2015, 3:52:24 PM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_photomarker.scss */
.leaflet-photomarker-container .leaflet-photomarker-img {
  border: solid white 1px;
  background-color: white;
  -webkit-transition: width 0.25s ease, height 0.25s ease;
  -moz-transition: width 0.25s ease, height 0.25s ease;
  -o-transition: width 0.25s ease, height 0.25s ease;
  transition: width 0.25s ease, height 0.25s ease;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 1:09:33 PM
    Author     : josephzhao
*/
/*.homepage_flash_wrap {
   height: 350px;
}*/
/*.homepage_flash {
    padding: 0px;
    height: 385px;
    margin: 10px 0px 20px 0;
}*/
/* line 21, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel {
  height: 355px;
  margin-bottom: 30px;
}

/* line 25, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel .carousel-inner {
  height: 355px;
}

/* line 29, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel ol.carousel-indicators {
  width: 50%;
  margin: -45px auto;
}

/* line 38, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
ol.carousel-indicators li {
  color: #141412;
  font-size: 10px;
  background-color: #141412;
}

/* line 45, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
ol.carousel-indicators li.active {
  color: green;
  font-size: 10px;
  background-color: green;
}

/* line 50, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_images {
  width: 1200px;
  margin: 10px auto;
  height: 300px;
  border: 0px solid yellow;
  padding: 0px;
}

/* line 57, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_images img {
  height: 230px;
  margin: 3px;
  border-radius: 5px;
}

/* line 62, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_image_brief_desc {
  margin-bottom: 50px;
}

/* line 66, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel div.carousel-caption {
  top: 0px;
  width: 330px;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  background-image: url(/images/background.png);
  background-repeat: repeat;
  height: 355px;
}

/* line 82, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
#homepageFlashCarousel div.carousel-caption h4 {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

/* line 90, ../../Resources/assets/stylesheets/yorkujuturna/_homepage_flash.scss */
.homepage_image_brief_desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-left: 3px;
  height: 70px;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  background-image: url(/images/background.png);
  background-repeat: repeat;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2015, 4:02:42 PM
    Author     : josephzhao
*/
/* line 12, ../../Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image {
  margin-bottom: 15px;
}

/* line 15, ../../Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image #ecosystem_image {
  display: inline-block;
  overflow: hidden;
  height: 350px;
  width: 100%;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}

/* line 24, ../../Resources/assets/stylesheets/yorkujuturna/_ecosystem_page.scss */
.ecosystem_page_image h1 {
  position: absolute;
  width: 100%;
  height: 70px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2015, 11:58:23 AM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/_footer.scss */
.juturna-page-footer {
  width: 1200px;
  margin: 2px auto;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-Apr-2016, 2:41:51 PM
    Author     : josephzhao
*/
/* line 11, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li {
  border-bottom: 1px dotted gainsboro;
}

/* line 15, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li:last-child {
  border-bottom: none;
}

/* line 19, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li img {
  margin-right: 5px;
}

/* line 23, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.section.overlay-layers ul.overlay_ul li label.selected {
  background-color: lightseagreen;
}

/* line 27, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.section.overlay-layers ul.overlay_ul li label.mouse_selected {
  background-color: lightskyblue;
}

/* line 30, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
.uploadspatialfile_block select {
  width: 370px;
}

/* for map layers */
/* line 35, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li, li.overlay_li {
  border-bottom: 1px dotted gainsboro;
}

/* line 39, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li:last-child, li.overlay_li:last-child {
  border-bottom: none;
  margin-bottom: 5px;
}

/* line 44, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
div.layer_legend_items ul li img {
  margin-right: 5px;
}

/* line 48, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.overlay_li div.layer_legend {
  border-top: 1px dotted gainsboro;
}

/* line 53, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
.layer_legend .layer_legend_items ul {
  list-style: none;
  padding-left: 15px;
}

/* line 58, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
#ol3-map-layers-list i.ol3-map-layers-list-icon {
  display: inline-block;
  color: lightblue;
  cursor: pointer;
  margin-right: 10px;
}

/* line 64, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
#ol3-map-layers-basemap-list li input[type='radio'] {
  margin-right: 8px;
}

/* line 68, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.layercategory label span.layercategory-action {
  visibility: hidden;
  width: 90px;
  right: 5px;
  height: 24px;
  background-color: lightgray;
  border-radius: 4px;
  padding: 0px 8px;
  border: 1px solid blue;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* line 84, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.overlay_li .layername_label span.layer-action {
  visibility: hidden;
  width: 185px;
  right: 5px;
  height: 24px;
  background-color: lightgray;
  border-radius: 4px;
  padding: 0px 8px;
  border: 1px solid blue;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* line 98, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.layercategory label span.layercategory-action i,
li.overlay_li .layername_label span.layer-action i {
  cursor: pointer;
}

/* line 103, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.layercategory label span.layercategory-action i:hover,
li.overlay_li .layername_label span.layer-action i:hover {
  color: greenyellow;
}

/* line 108, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
label.layercategory[data-level='1'] {
  width: 315px;
}

/* line 111, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
label.layercategory[data-level='2'] {
  width: 295px;
}

/* line 115, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
.ol3map-sidebar-panel-content ul {
  list-style: none;
  padding-left: 18px;
}

/* line 120, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
#ol3-map-layers-overlays-list-title .overlayers_btn {
  margin-right: 5px;
  cursor: pointer;
}

/* line 125, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
.ol-bottom-feature-list {
  bottom: 6px;
  left: 8.2em;
  width: 100%;
  height: 50px;
  border: 1px solid green;
  border-radius: 4px;
}

/* line 134, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
.ol-bottom-feature-list .feature-list-item {
  display: inline-block;
  height: 38px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}

/* line 144, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.overlay_li .layername_label span.layer-action .layer_action_icon {
  width: 100%;
}

/* line 147, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
li.overlay_li .layername_label span.layer-action .layer_action_icon i {
  padding: 4px;
  cursor: pointer;
}

/* line 154, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
#ol3map_map_tooltip.tooltip {
  position: relative;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0.7;
  white-space: nowrap;
  font: 10pt sans-serif;
  border-radius: 5px;
}

/* line 166, ../../Resources/assets/stylesheets/yorkujuturna/map.scss */
#ol3-map-layers-overlays-list li.overlay_li .layer_action_icon i.fa-tag.checked {
  color: blue;
  font-weight: 500;
}

/* line 28, assetic_compassD7WRS6.scss */
.sonata-bc .tooltip.left {
  margin-left: -12px;
}
