<ol class="carousel-indicators">
    {% for indicatorbenefitimage in entities.indicatorbenefitimages %}
        {% set images=indicatorbenefitimage.getFileName()|unserialize %}
        {% if images|length > 0 %}
            {% for image in images %}
                <li data-target="#leftsidebar_indicator_benefit_flash" data-slide-to="{{loop.index-1}}" {% if loop.index==1 %} class="active" {% endif %}>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ol>
