{% set images=indicatorbenefitimage.getFileName()|unserialize %}
{% if images|length > 0 %}
    {% for image in images %}
        <div  class="item {% if i==0%} active {% endif %}" >
            <div class="carousel-caption">
                <h2>{{benefit.title|title}}</h2>
            </div>
            <img style="width:100%;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image}}" width="100%" alt="{{indicatorbenefitimage.getAltText()}}">
        </div>
        {% set i=i+1 %}
    {% endfor %}
{% endif %}
