{# empty Twig template #}

  <div style="display: block;" class="layers-ui"><div class="sidebar_heading"><span class="icon close">Close</span><h4>Map Layers</h4></div><div class="section base-layers"><ul><li class=""><div tabindex="0" style="position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim"><div style="transform: translate(-7px, 0px);" class="leaflet-map-pane"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img src="http://a.tile.openstreetmap.org/0/0/0.png" style="height: 256px; width: 256px; transform: translate(-22px, -26px);" class="leaflet-tile leaflet-tile-loaded"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"></div></div></div><label><input type="radio">Standard</label></li><li class=""><div tabindex="0" style="position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim"><div style="transform: translate(-7px, 0px);" class="leaflet-map-pane"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img src="http://a.tile.opencyclemap.org/cycle/0/0/0.png" style="height: 256px; width: 256px; transform: translate(-22px, -26px);" class="leaflet-tile leaflet-tile-loaded"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"></div></div></div><label><input type="radio">Cycle Map</label></li><li class=""><div tabindex="0" style="position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim"><div style="transform: translate(-7px, 0px);" class="leaflet-map-pane"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img src="http://a.tile2.opencyclemap.org/transport/0/0/0.png" style="height: 256px; width: 256px; transform: translate(-22px, -26px);" class="leaflet-tile leaflet-tile-loaded"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"></div></div></div><label><input type="radio">Transport Map</label></li><li class=""><div tabindex="0" style="position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim"><div style="transform: translate(-7px, 0px);" class="leaflet-map-pane"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img src="http://otile1.mqcdn.com/tiles/1.0.0/osm/0/0/0.png" style="height: 256px; width: 256px; transform: translate(-22px, -26px);" class="leaflet-tile leaflet-tile-loaded"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"></div></div></div><label><input type="radio">MapQuest Open</label></li><li class="active"><div tabindex="0" style="position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim"><div style="transform: translate(-7px, 0px);" class="leaflet-map-pane"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img src="http://a.tile.openstreetmap.fr/hot/0/0/0.png" style="height: 256px; width: 256px; transform: translate(-22px, -26px);" class="leaflet-tile leaflet-tile-loaded"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"></div></div></div><label><input type="radio">Humanitarian</label></li></ul></div><div class="section overlay-layers"><p class="deemphasize">Enable overlays for troubleshooting the map</p><ul><li class="disabled" title="" data-original-title="Zoom in to see map notes"><label><input disabled="" type="checkbox">Map Notes</label></li><li class="disabled" title="" data-original-title="Zoom in to see map data"><label><input disabled="" type="checkbox">Map Data</label></li></ul></div></div><div style="display: none;" class="key-ui"><div class="sidebar_heading"><span class="icon close">Close</span><h4>Map Key</h4></div><div class="section"><div id="mapkey">
  <table class="mapkey-table">
        <tbody><tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Motorway" src="/assets/key/mapnik/motorway-bc425221a05da3c5912bdfa0332e19df.png">
          </td>
          <td class="mapkey-table-value">
            Motorway
          </td>
        </tr>
        <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="11">
          <td class="mapkey-table-key">
            <img alt="Trunk" src="/assets/key/mapnik/trunk-9880688a7434d1ebcb502d19b2cc3eb6.png">
          </td>
          <td class="mapkey-table-value">
            Trunk road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Trunk12" src="/assets/key/mapnik/trunk12-e002d4c6db5027043330afb1cb2569bf.png">
          </td>
          <td class="mapkey-table-value">
            Trunk road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="7" data-zoom-max="11">
          <td class="mapkey-table-key">
            <img alt="Primary" src="/assets/key/mapnik/primary-1afc223d9ea4231a7287e4993189d7f5.png">
          </td>
          <td class="mapkey-table-value">
            Primary road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Primary12" src="/assets/key/mapnik/primary12-c8861ba0448edc89cf6f423608b0485c.png">
          </td>
          <td class="mapkey-table-value">
            Primary road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="9" data-zoom-max="11">
          <td class="mapkey-table-key">
            <img alt="Secondary" src="/assets/key/mapnik/secondary-1d777f6c6de26b6562acac08d7664150.png">
          </td>
          <td class="mapkey-table-value">
            Secondary road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Secondary12" src="/assets/key/mapnik/secondary12-8064e97e00ea6a88c4e778b05742a7d2.png">
          </td>
          <td class="mapkey-table-value">
            Secondary road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Unsurfaced" src="/assets/key/mapnik/unsurfaced-2f1ce876dde77a25b2eb41fc626eccfe.png">
          </td>
          <td class="mapkey-table-value">
            Unsurfaced road
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Track" src="/assets/key/mapnik/track-1ab8881461027c46960a65123f176022.png">
          </td>
          <td class="mapkey-table-value">
            Track
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Byway" src="/assets/key/mapnik/byway-d9917abd269027e96befb56f8878c90e.png">
          </td>
          <td class="mapkey-table-value">
            Byway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Bridleway" src="/assets/key/mapnik/bridleway-0fe1c8c847a7f523fa31566a66871666.png">
          </td>
          <td class="mapkey-table-value">
            Bridleway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Cycleway" src="/assets/key/mapnik/cycleway-9252f41ac09c4e53e6e52bdf7fc86293.png">
          </td>
          <td class="mapkey-table-value">
            Cycleway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Footway" src="/assets/key/mapnik/footway-10e2ffa7697210623f36a18829831ec6.png">
          </td>
          <td class="mapkey-table-value">
            Footway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="8" data-zoom-max="12">
          <td class="mapkey-table-key">
            <img alt="Rail" src="/assets/key/mapnik/rail-4be2cb2cceadc54c7868e6431012e1cd.png">
          </td>
          <td class="mapkey-table-value">
            Railway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Rail13" src="/assets/key/mapnik/rail13-5a2d335206b9e5453fc68578047cbd79.png">
          </td>
          <td class="mapkey-table-value">
            Railway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Subway" src="/assets/key/mapnik/subway-7e565355bce2af372df0d6865f74b62a.png">
          </td>
          <td class="mapkey-table-value">
            Subway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Tram" src="/assets/key/mapnik/tram-e46ab6fe207e825fb0bb88ea35d08a3b.png">
          </td>
          <td class="mapkey-table-value">
            Light rail and tram
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Cable" src="/assets/key/mapnik/cable-b9ba38f9624136c3d79c456c39edd939.png">
          </td>
          <td class="mapkey-table-value">
            Cable car and chair lift
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Runway" src="/assets/key/mapnik/runway-533a21afb639ebd1a0c4089c45726422.png">
          </td>
          <td class="mapkey-table-value">
            Airport Runway and taxiway
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Apron" src="/assets/key/mapnik/apron-3d3add04e083bc4dd60511e68b484a16.png">
          </td>
          <td class="mapkey-table-value">
            Airport apron and terminal
          </td>
        </tr>
        <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Admin" src="/assets/key/mapnik/admin-8f5ab1de346da8cb388873a9927c5a20.png">
          </td>
          <td class="mapkey-table-value">
            Administrative boundary
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="9" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Forest" src="/assets/key/mapnik/forest-80e16bd41cf80d82147de14393b1c8b2.png">
          </td>
          <td class="mapkey-table-value">
            Forest
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Wood" src="/assets/key/mapnik/wood-0d71443d552a5071869d53e39602ac2b.png">
          </td>
          <td class="mapkey-table-value">
            Wood
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Golf" src="/assets/key/mapnik/golf-e45d39bbda03135c33f61a7aac8c2d13.png">
          </td>
          <td class="mapkey-table-value">
            Golf course
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Park" src="/assets/key/mapnik/park-cd4197ff787d91419718bf1682a36638.png">
          </td>
          <td class="mapkey-table-value">
            Park
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="8" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Resident" src="/assets/key/mapnik/resident-28aa9bd8d581399d77eec74aa40ecba5.png">
          </td>
          <td class="mapkey-table-value">
            Residential area
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Tourist" src="/assets/key/mapnik/tourist-49f753200ba07a0a231a13e2fedfda1e.png">
          </td>
          <td class="mapkey-table-value">
            Tourist attraction
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Common" src="/assets/key/mapnik/common-6002fb6158569fb72e8ab0584556800c.png">
          </td>
          <td class="mapkey-table-value">
            Common and meadow
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Retail" src="/assets/key/mapnik/retail-c691f7b1d5f98593e8efa82c96fc80c4.png">
          </td>
          <td class="mapkey-table-value">
            Retail area
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Industrial" src="/assets/key/mapnik/industrial-92d2c84fa4b92fe50319105be9761bbc.png">
          </td>
          <td class="mapkey-table-value">
            Industrial area
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Commercial" src="/assets/key/mapnik/commercial-61c4802d691ee763eca68c9752e3f362.png">
          </td>
          <td class="mapkey-table-value">
            Commercial area
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Heathland" src="/assets/key/mapnik/heathland-d21980c9dd1c2daff755d48d11163128.png">
          </td>
          <td class="mapkey-table-value">
            Heathland
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="7" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Lake" src="/assets/key/mapnik/lake-9ecfe2f77d395fb7fa9fdd8799b53eb7.png">
          </td>
          <td class="mapkey-table-value">
            Lake and reservoir
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Farm" src="/assets/key/mapnik/farm-e5b9f097d23f25289547cbff35aac491.png">
          </td>
          <td class="mapkey-table-value">
            Farm
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Brownfield" src="/assets/key/mapnik/brownfield-aca1e39aa27f380adf3e227ade2d6e8d.png">
          </td>
          <td class="mapkey-table-value">
            Brownfield site
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Cemetery" src="/assets/key/mapnik/cemetery-28a8cf63541e4cd59910077df17372bf.png">
          </td>
          <td class="mapkey-table-value">
            Cemetery
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Allotments" src="/assets/key/mapnik/allotments-cd141a93e90744c9dcefe17a33455abe.png">
          </td>
          <td class="mapkey-table-value">
            Allotments
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Pitch" src="/assets/key/mapnik/pitch-e5a6deb47b9296159a7a1c0f0e428ab3.png">
          </td>
          <td class="mapkey-table-value">
            Sports pitch
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Centre" src="/assets/key/mapnik/centre-9c8f519975951f18016e90496c324bce.png">
          </td>
          <td class="mapkey-table-value">
            Sports centre
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Reserve" src="/assets/key/mapnik/reserve-8bbf03a8342507b95a7c79b13b42b8f0.png">
          </td>
          <td class="mapkey-table-value">
            Nature reserve
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Military" src="/assets/key/mapnik/military-d81b9615da2b71d790e07754cc0a226b.png">
          </td>
          <td class="mapkey-table-value">
            Military area
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="School" src="/assets/key/mapnik/school-1728d6dcc76ee94af2e696daf406d6a5.png">
          </td>
          <td class="mapkey-table-value">
            School and university
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Building" src="/assets/key/mapnik/building-c5fcba69aadbe66dba4714d172cd113a.png">
          </td>
          <td class="mapkey-table-value">
            Significant building
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Station" src="/assets/key/mapnik/station-efc5dd46b46110d5d3d33ce7f1c5e0e3.png">
          </td>
          <td class="mapkey-table-value">
            Railway station
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Summit" src="/assets/key/mapnik/summit-51ce129df3b58770380ca823fa51b9ed.png">
          </td>
          <td class="mapkey-table-value">
            Summit and peak
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Tunnel" src="/assets/key/mapnik/tunnel-313b7af4005f13c19acbe791ef42be0b.png">
          </td>
          <td class="mapkey-table-value">
            Dashed casing = tunnel
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Bridge" src="/assets/key/mapnik/bridge-19b4c4264fd9827365268799faf51128.png">
          </td>
          <td class="mapkey-table-value">
            Black casing = bridge
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="15" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Private" src="/assets/key/mapnik/private-3437da88e9b850e051d4da2e4b386133.png">
          </td>
          <td class="mapkey-table-value">
            Private access
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="15" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Permissive" src="/assets/key/mapnik/permissive-8784cd4af2cf2b686e2b540987332b1b.png">
          </td>
          <td class="mapkey-table-value">
            Permissive access
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="15" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Destination" src="/assets/key/mapnik/destination-f9a1cf65ce6b467e07bc05a5c2089d10.png">
          </td>
          <td class="mapkey-table-value">
            Destination access
          </td>
        </tr>
        <tr style="display: none;" class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
          <td class="mapkey-table-key">
            <img alt="Construction" src="/assets/key/mapnik/construction-fb4277f3b83a6fc7ebb9ed73b58d2074.png">
          </td>
          <td class="mapkey-table-value">
            Roads under construction
          </td>
        </tr>
  </tbody></table>
</div>
</div></div><div style="display: none;" class="share-ui"><div class="sidebar_heading"><span class="icon close">Close</span><h4>Share</h4></div><div class="section share-link"><h4>Link or HTML</h4><form class="standard-form"><div class="form-row"><label for="link_marker"><input id="link_marker" type="checkbox">Include marker</label></div><div class="share-tabs"><a href="http://www.openstreetmap.org/#map=2/72.6/-4.6&amp;layers=H" id="long_link" for="long_input" class="">Link</a><a class="" href="http://osm.org/go/frWw-?layers=H" id="short_link" for="short_input">Short Link</a><a class="active" href="#" for="embed_html">HTML</a></div><div style="display: none;" class="form-row share-tab"><input id="long_input" type="text"></div><div style="display: none;" class="form-row share-tab"><input id="short_input" type="text"></div><div style="display: block;" class="form-row share-tab"><textarea style="height: 380px;" id="embed_html"></textarea><p class="deemphasize">Paste HTML to embed in website</p></div></form></div><div class="section share-image"><h4>Image</h4><form method="post" action="/export/finish" class="standard-form"><div class="form-row"><label for="image_filter"><input id="image_filter" type="checkbox">Set custom dimensions</label></div><div class="form-row"><label for="mapnik_format">Format:</label><select id="mapnik_format" name="mapnik_format"><option value="png">PNG</option><option value="jpeg">JPEG</option><option value="svg">SVG</option><option value="pdf">PDF</option></select></div><div class="form-row"><label for="mapnik_scale">Scale:</label>1 : <input id="mapnik_scale" name="mapnik_scale" type="text"></div><input value="-573.75" name="minlon" id="mapnik_minlon" type="hidden"><input value="50.064191736659104" name="minlat" id="mapnik_minlat" type="hidden"><input value="-155.390625" name="maxlon" id="mapnik_maxlon" type="hidden"><input value="82.63133285369297" name="maxlat" id="mapnik_maxlat" type="hidden"><input value="mapnik" name="format" type="hidden"><p class="deemphasize">Image will show standard layer at  <span id="mapnik_image_width">1489</span> x <span id="mapnik_image_height">353</span></p><input value="Download" type="submit"></form></div></div>