
{#{% block test %}
<div id="testt" data-spy="affix" data-offset-top="200">...</div>
{% endblock %}#}

<div id="content" class="overlay-sidebar">
    
<div class="container-fluid"  style="border-bottom: 2px   #090 ridge;">
  
    <div class="row-fluid"  >
        
    <div id="leafmap" class="span12" style="padding-top: 0; top:0px;border:1px #090 solid" >
                   
    </div> 
     
        
       
<div id="sidebar" >
    <form accept-charset="UTF-8" action="/search" class="search_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="WzUq33tXmIGkkIg0LB/2KBd91Dfveckr8QvNtZoo9Zo=" /></div>
        <input name="commit" type="submit" value="Go" />
        <div class='query_wrapper'>
            <input autofocus="autofocus" id="query" name="query" placeholder="Search" type="text" />
            <a class="describe_location" href="#" title="Describe the current location using the search engine">Where am I?</a>
        </div>
    </form>
   <div id="flash">
    </div>

    <div id="browse_status"></div>

    <div id="sidebar_loader" style="display: none;">
      <img alt="Loading..." class="loader" src="{{ asset('/bundles/map2uweb/img/searching-000a5378efc9d9ee709b2439563e28db.gif') }}">
    </div>

    <div id="sidebar_content">
      
    </div>

      <div class="welcome">
        <h2><a onclick=" $('.welcome').hide(); "><span class="icon close"></span></a>Welcome to Credit Valley Conservation Browser!</h2>
        <p>Welcome to Credit Valley Conservation Browser is a map of the world, created by people like you and free to use under an open license.</p>
        <a class="button learn-more" href="/about">Learn More</a>
        <a class="button sign-up" href="/user/new">Start</a>
      </div>
  </div>
        
    <div id="map-ui">
    </div>
 
        
    <noscript>
        <div id="noscript">
            <p>You are either using a browser that does not support JavaScript, or you have disabled JavaScript.</p>
            <p>OpenStreetMap uses JavaScript for its slippy map.</p>
        </div>
    </noscript>
   
</div>

</div>
</div>
{% block javascripts %}
<script type="text/javascript">

            var mapapp;
            
            var I18n = I18n || {};
            I18n.translations ={'en':{
                        'javascripts':{
                                'map':{
                                    'zoom':{
                                        'in':'Zoom in',
                                        'out':'Zoom out'
                                    },
                                    'layers':{
                                        'header':'Map Layers',
                                        'title':'Layers',
                                        'overlays':'OverLays',
                                        'baselayers':'BaseLayers',
                                        'notes':'Notes',
                                        'Subwatersheds':'Subwatersheds',
                                        'Watersheds':'Watersheds',
                                        'data': 'Data'
                                    },
                                    'locate':{
                                        'title':'Show my location'
                                    }
                                    ,
                                    'share':{
                                        'title':'Share Map Information'
                                    },
                                    'key': {
                                        'title':'Show Map Legend'
                                    }
                                    ,
                                    'note': {
                                        'title':'Create Note'
                                    }
                                },
                                'key': {
                                    'title':'Legend',
                                    'tooltip_disabled':'Map Legend Disabled',
                                    'tooltip':'Show Map Legend'
                                }
                                 ,
                                'share':{
                                    'title':'Share',
                                    'link':'Link or HTML',
                                    'include_marker':'include marker',
                                    'long_link':'Link',
                                    'short_link': 'Short Link',
                                    'embed': 'HTML',
                                    'image':'Image',
                                    'format':'Format',
                                    'scale':'Scale',
                                    'image_size':'Image Size',
                                    'paste_html':'Paste HTML',
                                    'custom_dimensions':'Custom Dimensions',
                                    'download':'Download'
                                    
                                },
                                'site': {
                                    'createnote_disabled_tooltip':'Create Note Disabled',
                                    'createnote_tooltip':'Create Note'
                                }
                            }
                        }
                    };
            
           
               
               
            (function() {
            var loaderTimeout;

            OSM.loadSidebarContent = function(path, callback) {
              clearTimeout(loaderTimeout);

              loaderTimeout = setTimeout(function() {
                $('#sidebar_loader').show();
              }, 200);

              // IE<10 doesn't respect Vary: X-Requested-With header, so
              // prevent caching the XHR response as a full-page URL.
              if (path.indexOf('?') >= 0) {
                path += '&xhr=1'
              } else {
                path += '?xhr=1'
              }

              $('#sidebar_content')
                .empty();

              $.ajax({
                url: path,
                dataType: "html",
                complete: function(xhr) {
                  clearTimeout(loaderTimeout);
                  $('#flash').empty();
                  $('#sidebar_loader').hide();

                  var content = $(xhr.responseText);

                  if (xhr.getResponseHeader('X-Page-Title')) {
                    var title = xhr.getResponseHeader('X-Page-Title');
                    document.title = decodeURIComponent(escape(title));
                  }

                  $('head')
                    .find('link[type="application/atom+xml"]')
                    .remove();

                  $('head')
                    .append(content.filter('link[type="application/atom+xml"]'));

                  $('#sidebar_content').html(content.not('link[type="application/atom+xml"]'));

                  if (callback) {
                    callback();
                  }
                }
              });
            };
          })();          


            window.onload = function() {


                $('#leafmap').height($(window).height()-156);

                $(window).resize(function () { /* do something */ 
                    $('#leafmap').height($(window).height()-156);
                    $('#map-ui').height($(window).height()-156);
                });
                var map = new  L.MAP2U.Map('leafmap', {
                    'zoomControl': false,
                }).setView([43.73737, -79.95987], 10);
                
                var googleLayer_satellite = new L.Google('SATELLITE');
                var googleLayer_roadmap = new L.Google('ROADMAP');
                var googleLayer_hybrid = new L.Google('HYBRID');
                var googleLayer_terrain = new L.Google('TERRAIN');
                
               
                
                     var subwatersheds = new L.TileLayer.WMS(
                            "http://cobas.juturna.ca:8080/geoserver/juturna/wms",
                    {
                    layers: 'juturna:cvcsubwatersheds',
                    format: 'image/png',
                       transparent: true,
                       srs: 'EPSG:4326',
                       attribution: ""
                   });
                            
                   
                    var watersheds = new L.TileLayer.WMS(
                            "http://cobas.juturna.ca:8080/geoserver/juturna/wms",
                    {
                    layers: 'juturna:cvcwatersheds',
                       format: 'image/png',
                        srs: 'EPSG:4326',
                       transparent: true,
                       attribution: ""
                   });
                    map.addLayer(googleLayer_roadmap);
                    
                    map.baseLayers = [{'layer':
                        googleLayer_roadmap,'name':'Google Road Map'},
                        {'layer':new L.Google('SATELLITE'),'name':'Google Satellite'},
                        {'layer':new L.Google('HYBRID'),'name':'Google Hybrid'},
                        {'layer':new L.Google('TERRAIN'),'name':'Google Terrain'}

                    ];

        map.noteLayer = new L.FeatureGroup();
        map.noteLayer.options = {code: 'N'};
        
        map.dataLayers = [{'layer':subwatersheds,'name':'Subwatersheds'},
                    {'layer':watersheds,'name':'Watersheds'}];
           
            {#       
                map.addLayer(watersheds);
                map.addLayer(googleLayer_roadmap);
                map.addLayer(googleLayer_satellite);
                map.addLayer(googleLayer_hybrid);
                map.addLayer(googleLayer_terrain);
                map.addLayer(subwatersheds);#}
                
                var baseMaps = {
                    "Google Road Map": googleLayer_roadmap,
                    "Google Satellite": googleLayer_satellite,
                    "Google Hybrid": googleLayer_hybrid,
                    "Google Terrain": googleLayer_terrain
                };

                var overlayMaps = {
                    "Subwatersheds": subwatersheds,
                    "Watersheds": watersheds
                };
{#                L.control.layers(baseMaps,overlayMaps).addTo(map);#}
	{#	L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);
#}

	{#	L.marker([51.5, -0.09]).addTo(map)
			.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

		L.circle([51.508, -0.11], 500, {
			color: 'red',
			fillColor: '#f03',
			fillOpacity: 0.5
		}).addTo(map).bindPopup("I am a circle.");

		L.polygon([
			[51.509, -0.08],
			[51.503, -0.06],
			[51.51, -0.047]
		]).addTo(map).bindPopup("I am a polygon.");
#}


		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);

                var position = $('html').attr('dir') === 'rtl' ? 'topleft' : 'topright';

                  L.MAP2U.zoom({position: position}).addTo(map);

                  L.control.locate({
                    position: position,
                    strings: {
                      title: I18n.t('javascripts.map.locate.title'),
                      popup: I18n.t('javascripts.map.locate.popup')
                    }
                  }).addTo(map);
                  
                  L.control.scale().addTo(map);
                {#  var legend = L.control({position: 'topright'});

                  legend.onAdd = function (map) {
                        var div = L.DomUtil.create('div', 'info legend');

                        div.innerHTML +=
                        "<img src='http://cobas.juturna.ca:8080/geoserver/wms?TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&EXCEPTIONS=application%2Fvnd.ogc.se_xml&FORMAT=image%2Fpng&LAYER=juturna:cvcsubwatersheds' alt='legend' width='134' height='147'>";

                        return div;
                    };#}
{#
 var tree_root = $('<ul/>').appendTo('#maplegendtree_id');
            for (var i = 0; i < map.layers.length; i++)
            {
            if (map.layers[i].params !== undefined)
            {
                tree_root.append('<li>' + map.layers[i].name);
                tree_root.append('<div>');
                tree_root.append("<img src='http://cobas.juturna.ca:8080/geoserver/wms?TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&EXCEPTIONS=application%2Fvnd.ogc.se_xml&FORMAT=image%2Fpng&LAYER=" + map.layers[i].params["LAYERS"] + "'>");
            //    $.get("http://cobas.juturna.ca:8080/geoserver/wms?TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&EXCEPTIONS=application%2Fvnd.ogc.se_xml&FORMAT=image%2Fpng&LAYER=" + map.layers[i].params["LAYERS"], function(data){
            //    alert(data);               
            //  trre_root.append(data);
            //               });
            //         trre_root.append("http://cobas.juturna.ca:8080/geoserver/wms?TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&EXCEPTIONS=application%2Fvnd.ogc.se_xml&FORMAT=image%2Fpng&LAYER=" + map.layers[i].params["LAYERS"]);
            //     alert("http://cobas.juturna.ca:8080/geoserver/wms?TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&EXCEPTIONS=application%2Fvnd.ogc.se_xml&FORMAT=image%2Fpng&LAYER=" + map.layers[i].params["LAYERS"]);
                tree_root.append('<div>');
                tree_root.append('</li>');
            }
        }

                    legend.addTo(map);
  #}                 
    
                    var sidebar = L.MAP2U.sidebar('#map-ui').addTo(map);
                // alert(map.layers.length);
                 
                 L.MAP2U.layers({
                    position: position,
                    layers: map.baseLayers,
                    sidebar: sidebar
                  }).addTo(map);

                  L.MAP2U.legend({
                    position: position,
                    sidebar: sidebar
                  }).addTo(map);

                  L.MAP2U.share({
                    position: position,
                    sidebar: sidebar,
                    short: true
                  }).addTo(map);

                  L.MAP2U.note({
                    position: position,
                    sidebar: sidebar
                  }).addTo(map);
                  
                  $(window).resize();
            }
            
            </script>
 {% endblock %}