{# empty Twig template #}
<div class="leaflet-top leaflet-left">

</div>
<div class="leaflet-top leaflet-right">
    <div class="zoom leaflet-control">
        <a data-original-title="Zoom In" title="" href="#" class="control-button zoomin">
            <span class="icon zoomin"></span>
        </a>
        <a data-original-title="Zoom Out" title="" href="#" class="control-button zoomout">
            <span class="icon zoomout"></span>
        </a>
    </div>
    <div class="control-locate leaflet-control">
        <a data-original-title="Show My Location" title="" href="#" class="control-button">
            <span class="icon geolocate"></span>
        </a>
    </div>
    <div class="control-layers leaflet-control">
        <a data-original-title="Layers" title="" href="#" class="control-button">
            <span class="icon layers"></span>
        </a>
    </div>
    <div class="control-key leaflet-control">
        <a data-original-title="Map Key" href="#" class="control-button">
            <span class="icon key"></span>
        </a>
    </div>
    <div class="control-share leaflet-control">
        <a data-original-title="Share" title="" href="#" class="control-button">
            <span class="icon share">
                
            </span>
        </a>
    </div>
    <div class="control-note leaflet-control">
        <a data-original-title="Zoom in to add a note to the map" href="#" class="control-button disabled">
            <span class="icon note"></span>
        </a>
    </div>
</div>
<div class="leaflet-bottom leaflet-left">
    <div class="leaflet-control-scale leaflet-control">
        <div style="width: 62px;" class="leaflet-control-scale-line">500 km</div>
        <div style="width: 59px;" class="leaflet-control-scale-line">300 mi</div>
            
    </div>
        
</div>
<div class="leaflet-bottom leaflet-right">
    <div class="leaflet-control-attribution leaflet-control">© <a href="/copyright">OpenStreetMap contributors</a> ♥ <a class="donate-attr" href="http://donate.openstreetmap.org">Make a Donation</a>
    </div>
</div>