<Table style="width:300px;height:200px;"><tbody>
        <tr>
            <td>Name</TD><td><input type="text" name="gometry_name"/></td>
        </tr>
        <tr>
            <td>Overwrite Same Name</TD><td><input type="checkbox" name="overwrite_same_name"/></td>
        </tr>
        <tr>
            <td><button>Save</button></TD><td><button>Cancel</button></td>
        </tr>
    </tbody></Table>
