{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        {{parent()}}
    {% endblock %}
{% block register_confirm %}
<div class="container">
<div class="row">
    <div class="span6 offset3">
<div class="page-header">
    <h1>Welcome</h1>
    <h1><small>Your registration was successful</small></h1>
</div>

<hr />
<div class="alert alert-success">
    Thank you for sign up! You are now logged in the store
</div>
        </div>
    </div>
</div>    
{% block maincontent %}
    {% endblock %}

{% endblock %}
    {% endblock %}
