
.iconhelp {
	background-image:url(/images/default/help.png) !important
}

.x-tool-iconhelp {
	background-image:url(/images/default/help.png) !important
}

.iconinfo {
	background-image:url(/images/default/information.gif) !important
}

.x-tool-iconinfo {
	background-image:url(/images/default/information.gif) !important
}

