{% extends "::base.html.twig" %}
{% block page_container %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    <div style="margin:30px auto;height:500px;width:300px;">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
    {% block footer %}
        {{parent()}}
    {% endblock %}
{% endblock %}
