{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        {{parent()}}
    {% endblock %}
{% block maincontent %}
    {% endblock %}

{% block fos_user_content %}
<div class="container">
<div class="row">
    <div class="span6 offset3">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
        </div>
    </div>
</div>    
{% endblock %}
    {% endblock %}
