{# empty Twig template #}
<h4>Setup Viewing Scale</h4>
*if map center address is empty, current map center will be saved as viewing scale center.
<div id="useraccount_mapbookmark" style="margin:20px 10px;">
    <div style="border: 1px solid gainsboro; border-radius: 3px;margin:3px;padding:10px;">
        {% include 'ApplicationMap2uCoreBundle:UserAccount:mapbookmark_form.html.twig' with {'form':form1,'index':1,'level':11,'scaleText':scaleText,'bookmarks':bookmarks} %}

    </div>
    <div style="border: 1px solid gainsboro; border-radius: 3px;margin:3px;padding:10px;">
        {% include 'ApplicationMap2uCoreBundle:UserAccount:mapbookmark_form.html.twig' with {'form':form2,'index':2,'level':14,'scaleText':scaleText,'bookmarks':bookmarks} %}

    </div>          

    <div style="border: 1px solid gainsboro; border-radius: 3px;margin:3px;padding:10px;">
        {% include 'ApplicationMap2uCoreBundle:UserAccount:mapbookmark_form.html.twig' with {'form':form3,'index':3,'level':17,'scaleText':scaleText,'bookmarks':bookmarks} %}
    </div>
</div>

<script>
    $(function () {

        $("div#useraccount_mapbookmark form.useraccount_mapbookmark_form .address input[type='text']").blur(function () {

            var address = $(this).val();

            var geocoder = new google.maps.Geocoder();
            if (address === '') {

                var latlngStr = ol.proj.transform(ol3.map2u.map.getView().getCenter(), 'EPSG:3857', 'EPSG:4326');
              
                var latlng = {lat: parseFloat(latlngStr[1]), lng: parseFloat(latlngStr[0])};

                geocoder.geocode({'location': latlng}, function (results, status) {

                    if (status === google.maps.GeocoderStatus.OK)
                    {
                        var pt = results[0].geometry.location;

                        var lng = pt.lng();
                        var lat = pt.lat();
                        latlng = ol.proj.transform([lng, lat], 'EPSG:4326', 'EPSG:3857');

                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form input[type='hidden'][name='lat']").map(function () {
                            $(this).val(lat);
                        });
                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form input[type='hidden'][name='lng']").map(function () {
                            $(this).val(lng);
                        });
                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form .address input[type='text']").map(function () {
                            $(this).val(results[0].formatted_address);
                        });
                        createSearchFeatureIcon(ol3.map2u.map, latlng[0], latlng[1], results[0].formatted_address);

                        ol3.map2u.map.getView().setCenter([latlng[0], latlng[1]]);
                    } else {
                        alert("The given address is not able geocoding!");

                    }
                });
            } else {
                var _this = this;
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK)
                    {
                        var pt = results[0].geometry.location;

                        var lng = pt.lng();
                        var lat = pt.lat();

                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form input[type='hidden'][name='lat']").map(function () {
                            $(this).val(lat);
                        });
                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form input[type='hidden'][name='lng']").map(function () {
                            $(this).val(lng);
                        });
                        $("div#useraccount_mapbookmark  form.useraccount_mapbookmark_form .address input[type='text']").map(function () {
                            $(this).val(results[0].formatted_address);
                        });
                        createSearchFeatureIcon(ol3.map2u.map, lng, lat, results[0].formatted_address);

                        ol3.map2u.map.getView().setCenter([lng, lat]);
                    } else {
                        alert("The given address is not able geocoding!");

                    }
                });
            }
        });

        $("div#useraccount_mapbookmark form.useraccount_mapbookmark_form button").unbind("click");
        $("div#useraccount_mapbookmark form.useraccount_mapbookmark_form button").click(function (e) {

            var formData = new FormData($(this).parents("form")[0]);

            $.ajax({
                url: Routing.generate('useraccount_mapbookmark', {'_locale': window.locale}),
                method: 'POST',
                data: formData,
                success: function (response) {
                    if (typeof response !== 'object') {
                        response = JSON.parse(response);
                    }
                    if (response.success === true) {
                        if ($("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + response.seq + "']").length === 1) {
                            $("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + response.seq + "']").data("zoom", response.zoom);
                            $("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + response.seq + "']").data("center", response.lat + "," + response.lng);
                            $("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + response.seq + "']").data("address", response.address);
                            $("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + response.seq + "']").html(response.title);
                        } else {
                            if (response.seq === 1) {
                                $("li a[data-id='" + response.seq + "']").prependTo($("nav.juturna-main_menu li#viewingscale ul.dropdown-menu"));
                            } else {
                                if ($("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + (response.seq - 1) + "']").length === 1) {
                                    $('<li><a data-center="' + response.lat + "," + response.lng + '" data-address="' + response.address + '" data-id="' + response.seq + '" data-zoom="' + response.zoom + '" href="#">' + response.title + '</a></li>').insertAfter($("nav.juturna-main_menu li#viewingscale ul.dropdown-menu li a[data-id='" + (response.seq - 1) + "']").parent("li"));
                                    viewingscale(ol3.map2u.map);
                                }
                            }
                        }
                    }
                    alert(response.message);
                },
                cache: false,
                contentType: false,
                processData: false
            });

        });
    });
</script>