{% extends '::baseLayout.html.twig' %}

{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
        <div class="container-fluid maincontent">
            <div class="row-fluid">
            </div>
        </div>
    {% endblock %}
{% endblock %}