{% extends "::baseLayout.html.twig" %}
{% block page_container %}
    {% block maincontent %}

        <div style="margin:0 auto;width:310px;">
            {% block fos_user_content %}
                {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    {% endblock  %}
    {% block footer %}
    {% endblock %}
{% endblock%}




